- id: vmware-dvs-property-hypervisor_type
  version: 2.0.0
  role: ['primary-controller']
  required_for: [post_deployment_end]
  requires: [disable_keystone_service_token]
  type: shell
  parameters:
    cmd: ./add_hyperv_type.sh 2>&1 | tee -a /tmp/add_hyper_type.log
    timeout: 120

- id: vmware-dvs-override-hiera
  version: 2.0.0
  groups: ['primary-controller','controller']
  required_for: [openstack-network-plugins-l2]
  requires: [openstack-network-server-config]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/override_hiera.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-config-neutron-server
  version: 2.0.0
  groups: ['primary-controller','controller']
  required_for: [openstack-network-plugins-l2]
  requires: [vmware-dvs-override-hiera]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/site.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-set-neutron-timeout
  version: 2.0.0
  groups: ['primary-controller','controller']
  required_for: [deploy_end]
  requires: [openstack-network-server-nova]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/set-neutron-timeout.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-compute-vmware
  version: 2.0.0
  groups: ['compute-vmware']
  requires: [top-role-compute-vmware]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/compute-vmware.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720
