- id: vmware-dvs-override-hiera
  version: 2.1.0
  role: ['primary-controller','controller', 'compute-vmware']
  required_for: [openstack-network-server-config, vmware-dvs-network-common-config]
  requires: [deploy_start]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/override_hiera.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-setup-neutron-plugin
  version: 2.1.0
  groups: ['primary-controller','controller', 'compute-vmware']
  required_for: [primary-openstack-network-plugins-l2,openstack-network-plugins-l2]
  requires: [openstack-network-common-config, vmware-dvs-network-common-config]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/site.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-neutron-agent-install
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  required_for: [openstack-network-networks,vmware-vcenter]
  requires: [vmware-dvs-network-common-config]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/agents.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-compute-vmware
  version: 2.1.0
  groups: ['compute-vmware']
  requires:  [top-role-compute-vmware]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/compute-vmware.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

- id: vmware-dvs-set-neutron-timeout
  version: 2.1.0
  groups: ['primary-controller','controller']
  required_for: [deploy_end]
  requires: [openstack-network-server-nova]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/set-neutron-timeout.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720

# Anchor (empty task) for another tasks, say 'tenant network FW setup starting'
- id: vmware-dvs-network-start
  type: skipped
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  requires: [neutron-keystone, neutron-db, netconfig, openstack-controller, top-role-compute]
  required_for: [openstack-network-common-config]
  cross-depends:
    - name: neutron-keystone
    - name: openstack-haproxy
    - name: neutron-db

- id: vmware-dvs-network-common-config
  type: puppet
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  required_for: [vmware-dvs-network-end]
  requires: [vmware-dvs-network-start]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/common-config.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800

- id: primary-openstack-network-plugins-l2
  type: puppet
  version: 2.1.0
  groups: [primary-controller]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-common-config, openstack-network-server-config]
  condition:
    yaql_exp: &network_plugins_l2 >
      changedAny($.quantum, $.configuration, $.fqdn,
      $.get('neutron_primary_controller_roles'),
      $.get('neutron_compute_nodes'), $.quantum_settings, $.public_ssl,
      $.get('use_ssl'), $.get('region'), $.network_scheme,
      $.neutron_advanced_configuration)
  refresh_on: [neutron_agent_ovs]
  parameters:
    puppet_manifest: puppet/manifests/vmware-dvs-network-plugins-l2.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: openstack-network-plugins-l2
  type: puppet
  version: 2.1.0
  groups: [controller,compute,compute-vmware]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-common-config, openstack-network-server-config]
  condition:
    yaql_exp: *network_plugins_l2
  refresh_on: [neutron_agent_ovs]
  cross-depends:
    - name: primary-openstack-network-plugins-l2
  parameters:
    puppet_manifest: puppet/manifests/vmware-dvs-network-plugins-l2.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: vmware-dvs-network-agents-l3
  type: puppet
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  required_for: [vmware-dvs-network-end]
  requires: [openstack-network-networks, openstack-network-routers, primary-openstack-network-plugins-l2]
  refresh_on: [neutron_l3_agent_config]
  cross-depends:
    - name: /(primary-)?openstack-network-plugins-l2/
    - name: primary-openstack-network-agents-l3
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/agents/l3.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800

- id: vmware-dvs-network-agents-metadata
  type: puppet
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  required_for: [vmware-dvs-network-end]
  requires: [vmware-dvs-network-common-config, openstack-network-server-nova,vmware-dvs-network-agents-l3]
  refresh_on: [neutron_metadata_agent_config]
  cross-depends:
    - name: primary-openstack-network-agents-metadata
    - name: /(primary-)?openstack-network-plugins-l2/
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/agents/metadata.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800

# Anchor (empty task) for another tasks, say 'tenant network FW setup done'
- id: vmware-dvs-network-end
  type: skipped
  version: 2.1.0
  groups: ['primary-controller','controller','compute-vmware']
  required_for: [deploy_end]
  requires: []
