- id: delete-predefined-networks
  role: ['primary-controller']
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  type: shell
  parameters:
    cmd: ./del_predefined_networks.sh 2>&1 | tee -a /tmp/dep_pre_nets.log
    timeout: 120
- id: property-hypervisor_type
  role: ['primary-controller']
  required_for: [post_deployment_end]
  requires: [upload_cirros]
  type: shell
  parameters:
    cmd: ./add_hyperv_type.sh 2>&1 | tee -a /tmp/add_hyper_type.log
    timeout: 120
- id: install-the-driver
  role: ['primary-controller','controller']
  required_for: [post_deployment_end]
  requires: ['delete-predefined-networks']
  type: shell
  parameters:
    cmd: ./install_the_driver.sh 2>&1 | tee -a /tmp/ins_the_drivers.log
    timeout: 720
- id: install-the-driver-compute
  type: shell
  role: [compute-vmware]
  required_for: [post_deployment_end]
  requires: ['openstack-network-vmware-compute']
  condition: "settings:common.use_vcenter.value == true"
  parameters:
    cmd: ./install_the_driver.sh 2>&1 | tee -a /tmp/ins_the_drivers.log
    timeout: 720
- id: openstack-network-vmware-compute
  type: puppet
  role: [compute-vmware]
  required_for: ['install-the-driver-compute']
  requires: ['delete-predefined-networks']
  condition: "settings:common.use_vcenter.value == true"
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/openstack-network-compute.pp
    puppet_modules: /etc/puppet/modules
    timeout: 3600
  test_pre:
    cmd: ruby /etc/puppet/modules/osnailyfacter/modular/openstack-network/openstack-network-compute_pre.rb
  test_post:
    cmd: ruby /etc/puppet/modules/osnailyfacter/modular/openstack-network/openstack-network-compute_post.rb
- id: setup-neutron-plugin
  role: ['primary-controller','controller']
  required_for: [post_deployment_end]
  requires: ['install-the-driver']
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/site.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 720
